@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
body {
    margin: 0;
    padding: 0;
}
/* Header section of the page - nav, head image etc*/

#nav {
    width: 100%;
    background: orangered;
    height: 50px;
    position: fixed;
    font-family: 'Work Sans';
    color: white;
    margin: 0;
    z-index: 1;
}
#nav ul {
    float: right;
}
#nav ul li {
    list-style: none;
    display: inline;
    padding: 0 20px 0 20px;
    text-align: right;
}
#nav ul li:hover {
    font-family: 'Work Sans';
    font-weight: 600;
}
#nav ul li:last-child {
    margin-right: 50px;
}

#burger--menu {
    transform: rotate(90deg);
    letter-spacing: 1.5px;
    font-size: 20px;
    margin: 0px 20px;
}
#nav--logo {
    position: fixed;
    top: 7px;
    left: 20px;
    font-family: 'Libre Baskerville';
    font-size: 30px;
    letter-spacing: 1.5px;
}
.nav--dropdown {
    width: 100%;
    background: white;
    height: 100px;
    top: 50px;
}
/* End of Header section of the page - nav, head image etc*/
/* Header image*/

#main--header__image {
    background: grey;
    width: 100%;
    height: 500px;
    top: 50px;
    background-image: url('imgs/cat--white.jpg');
    background-size: cover;
    background-position: 5%;
}

h1 {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 55px;
    color: orangered;
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 150px;
}
/* End of Header  image section cat pic meow meow/ 


/* Small images section*/

#section--small__img {
    width: 100%;
    margin: 0;
    clear: both;
    position: relative;
    overflow: auto;
}
.small--img__one {
    width: 25%;
    height: 200px;
    background-color: orangered;
    display: inline-block;
    margin: 0;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('imgs/cat1.jpg');
    background-size: cover;
    background-position: 5%;
    filter: grayscale(100%);
}
.small--img__two {
    width: 25%;
    height: 200px;
    background-color: yellow;
    display: inline-block;
    margin: 0;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('imgs/cat2.jpg');
    background-size: cover;
    background-position: 5%;
    filter: grayscale(100%);
}
.small--img__three {
    width: 25%;
    height: 200px;
    margin: 0;
    background-color: red;
    display: inline-block;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('imgs/cat3.jpg');
    background-size: cover;
    background-position: 5%;
    filter: grayscale(100%);
}
.small--img__four {
    width: 25%;
    height: 200px;
    margin: 0;
    filter: grayscale(100%);
    background-color: orange;
    display: inline-block;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('imgs/cat5.jpg');
    background-size: cover;
    background-position: 5%;
}


.small--img__one:hover {
    filter: none;
}
.small--img__two:hover {
    filter: none;
}
.small--img__three:hover {
    filter: none;
}
.small--img__four:hover {
    filter: none;
}
/* End of small images section of the page */

.hero--quote {
    background-color: orangered;
    height: 300px;
    width: 100%;
    display: block;
    margin-top: 20px;
    -webkit-clip-path: polygon(0 18%, 100% 0%, 100% 83%, 0% 100%);
    clip-path: polygon(0 18%, 100% 0%, 100% 83%, 0% 100%);
}
.hero--quote h3 {
    font-family: 'Libre Baskerville';
    font-size: 38px;
    letter-spacing: -0.5;
    line-height: 52px;
    color: white;
    padding: 90px 20px;
    text-align: center;

}

/* CARDS LINKS ARTICLES */

.section--card__article {
    text-align: center;
	width: 100%;
    display:block;
    clear: both;


}

.card--article {
	width: calc(25% - 30px);
	background-color: red;
	display: inline-block;
	height: 350px;
	font-family: 'Work Sans';
    position: relative;
    clear: both;
    margin-top: 40px;
  
}

.card--article__inner {
    width: 100%;
    background-color: blue;
    height: 200px;
    font-family: 'Work Sans';
    bottom: 0;
    position: absolute;
    z-index: 1;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 11%);
    clear: both;

}

.card--article__inner h1 {
    font-family: 'Libre Baskerville';
    font-size: 28px;
    text-align: left;
    display: block;
    margin-left: 20px;
    margin-top: 40px;
    position: relative;
    padding: 0px;

}

.readmore {
    font-family: 'Work Sans';
    color: white;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: left;
    width: 100%;
    font-size: 9px;
    text-transform: uppercase;
    display: block;
    padding: 0px 20px 0px 20px;
    position: absolute;
    bottom: 20px;
    margin-top: 20px;
}

.previewtext {
    font-family: 'Work Sans';
    font-weight: 200;
    color: white;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 15px;
    display: block;
    width: 55%;
    height: 50px; 
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    left: 20px;
    padding-bottom: 20px;
}

.card--article {
    background-
}



/* MEDIA QUERIES */

@media (max-width: 680px) {
    #nav ul li {
        display: none;

    }
        #main--header__image {
        background-position: 50%;
    }


}



@media (max-width: 1024px) {
    .small--img__two {
        width: 50%;
        height: 150px;
        background-position: 0% 70%;
    }
    .small--img__one {
        width: 50%;
        height: 150px;
        background-position: 0% 70%;
    }
    .small--img__three {
        width: 50%;
        height: 150px;
    }
    .small--img__four {
        width: 50%;
        height: 150px;
        background-position: 0% 30%;
    }
    .card--article {

        width: calc(33.33333% - 20px);
        


    }


}




@media (max-width: 400px) {
    .small--img__two {
        width: 100%;
        height: 100px;
        background-position: 0% 65%;
    }
    .small--img__one {
        width: 100%;
        height: 100px;
        background-position: 0% 70%;
    }
    .small--img__three {
        width: 100%;
        height: 100px;
        background-position: 0% 40%;
    }
    .small--img__four {
        width: 100%;
        height: 100px;
        background-position: 0% 30%;
    }

    .card--article {
        display: block;
       width: 100%;


    }

}

@media (max-width:740px) and (min-width:400px) {
    .card--article {
        height: 280px;
    
    }
    .card--article__inner{
   height: 150px;

}

.hero--quote h3 {
    font-size: 32px;
    line-height: 40px;

}​

